<!--<div>
    <div>
        <label for="">Name</label>
        <input type="text" [(ngModel)]="user.name">
    </div>
    <div>
        <label for="">Age</label>
        <input type="number" [(ngModel)]="user.age">
    </div>
    <div>
        <label for="">img</label>
        <input type="text" [(ngModel)]="user.url">
    </div>
    <div>
        <button (click)="adduser()">Add user</button>
    </div>
</div>
<h2>{{users.length}}</h2>
<p>{{state}}</p>
<div style="display: flex; margin: 0 5px;">
    <div *ngFor="let user of users" style="background-color: rgb(255, 148, 148); border-radius: 20px; padding: 10px;width: 200px;">
        <img [src]="user.url" alt="" style="width: 200px;border-radius: 20px;">
        <h2>{{user.name}}</h2>
        <h2>{{user.age}}</h2>
    </div>
</div>
-->